# Defines where the jars are to be built
# jars_dest = d:/MyProjects/JMetadata
jars_dest = 

# Defines where the javadoc is to be built
# Only required if building Javadoc via Ant
# javadoc_dest = d:/MyProjects/JMetadata/Javadoc
javadoc_dest = 

